@charset "utf-8";
/* ===================================================================
CSS information
 file name  : base.css
 author     : Le Duc Anh
 website : mauthietke.info
=================================================================== */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Roboto:300,400,500,700');

html {
	font-size: small;
	line-height: 1.7;
	overflow: unset;
}
body {
	color: $baseColor;
	background: #fff;
	-webkit-text-size-adjust: none;
	@include fsz($baseSize,13);
	line-height: 1.7;
	.ie & { @include fsz($baseSize,13.4); }
	@include mq(sp) {
		@include fsz($baseSize - 1,13);
	}
	a {
		@include transition(opacity 200ms ease-in);
		.mouse &:hover,
		.touch &.touchstart {
			text-decoration: none;
			@include opacity(.7);
		}
		&:hover{
			@include opacity(.7);
		}
	}
	img {
		max-width: 100%;
		-webkit-touch-callout: none;
	}
}
body,pre,input,textarea,select {
	font-family: $robo;
}
input,select,textarea {
	font-size: 100%;
}

html.ie8 {
	.view_tab, 
	.view_tab_sp, 
	.view_sp {
		display: none !important;
	}
	#page {
		min-width: $columnWidth * 1px !important;
		margin: auto;
		font-size: 100% !important;
	}
}

// .view_xxx
body {
	@include mq(pc) {
		.view_tab-sp,.view_tab {display: none !important;}
	}
	@include mq(pc_tab) {
		.view_sp {display: none !important;}
	}
	@include mq(tab_sp) {
		.view_pc {display: none !important;}
	}
	@include mq(sp) {
		.view_pc-tab,.view_tab {display: none !important;}
	}
}

// .mouseOver
.over {
	.mouse & {
		@include transition(opacity 200ms ease-in);
	}
	@include hover {
		@include opacity(.7);
	}
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	line-height: 1.2;
}
// border-box
* {
	@include box-sizing(border-box);
}

.container-fluid{

}
.pdl0{
	padding-left: 0;
}
.mt20 {
	margin-top: 20px;
}
.container {
	position: relative;
  @include mq(pc) {
    width: 1200px;
  }	
  @include mq(tab) {
    width: 98%;
  }
  @media only screen and (min-width: 992px) and (max-width: 1024px) {
  	width: 98%;
  }
  @include mq(sp) {
    width: 100%;
  }    
}
select.form-control{
	-webkit-appearance: none;
	background: url(../images/arrow.png) no-repeat 95% 50% #FFF;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
	border: 1px solid #D7DCE3;     
	&::-ms-expand {
	    display: none;
	}
	&.form-control-nobd{
		border:none;
		@include box-shadow(none);
		background: none;
	}	
}
.form-control{
	border: 1px solid #D7DCE3;     
}
.text-primary{
	color: $text-primary;
}
.btn-primary{
	background:$text-primary;
	border-color: $text-primary;
}
.btn{
	@include border-radius(3px);
}
.btn-default{
	border:1px solid #999;
	background:none;
	&.btn-default-white{
		border-color: $white;
		color: $white;
	}
	&:hover{
		background: none;
		
	}
}
.pagination{
	li{
		margin-left: 5px;
		display: inline-block;
		a,span{
			color: $navatop;
			padding: 8px 14px;
		}
		&:first-child,&:last-child{
			a {
				@include border-radius(0);
			}
		}
	}
}
.mt20{
	margin-top: 20px;
}
.mb20{
	margin-bottom: 20px;
}
/* -----------------------------------------------------------
	#topicpath
----------------------------------------------------------- */
.topicpath{
	@include clearfix;
	@include cV(padding,.5em 0, .5em 0);
	ul{
		float: left;
		@include clearfix;
		width: 100%;
		padding:.6em .5em;
		li{
			float: left;
			color: #636982;
			a{
				padding:0 1.5em 0 0.5em ;
				display: inline-block;
				position: relative;
				text-decoration: none;
				font-weight: 500;
				color: $navatop;
				&:after{
					content:"";
					position: absolute;
					right: .5em;
					top: 50%;
					@include transform(translate(0,-50%));
					width: 4px;
					height: 4px;
					background:#EEEEEE;
					@include border-radius(50%);
				};
			}
			&.keyword{
				padding-left: 1em;
				color: #636982;
				a{
					color: #0999D8;
					font-weight: normal;
					&:after{
						display: none;
					}
				}
			}			
			&:last-child {
				color: #636982;
			}
		}
	}
}
.title-page{
	@include fsz(24);
	font-family: $muli;
	font-weight: bold;
	margin-bottom: 30px;
}
.tbl-info{
	width: 100%;
	border-top: 1px solid #D3D9E1;
	tr{
		td{
			padding: 10px 5px 10px;
			border-bottom: 1px solid #D3D9E1;
		}
	}
	&.border-none{
		border-top: none;
		tr{
			td{
				&.none{
					border-bottom: none;
				}
			}
		}
	}
}
.accodion{
	@include mq(sp) {
		&:before{
			content: "\f107" !important;
			font-family: "FontAwesome";
			position: absolute;
			right: .8em;
			top: 50%;
			color: #FFF;
			@include transform(translate(0,-50%)); 
			width: auto;
			left: inherit;
			font-size: 80%;
		}
		&.active{
			&:before{
				content: "\f106" !important;
			}
		}		
	}
}
.tbl-compare{
	td{
		text-align: center;
		strong{
			font-weight: 500;
		}
	}
	.title-house{
		font-weight: 500;
		text-align: left;
		margin-top: 5px;
	}	
}