@charset "utf-8";
/* ===================================================================
CSS information
 file name  : homepage.css
 author     : Le Duc Anh
 website : mauthietke.info
=================================================================== */
.project-page{
	position: relative;
}
.bn-fixed{
	position: absolute;
	top: 50px;
	z-index: 9;
	&.box-banner-left{
		left: -120px;
	}
	&.box-banner-right{
		right: -120px;
	}
}
.box-filter-duan{
	padding: 32px 0;
	border-top: 1px solid #D3D9E1;
	border-bottom: 1px solid #D3D9E1;
	margin-bottom: 40px;
	h4{
		font-weight: bold;
		@include fsz(18);
		margin-bottom: .5em;
	}
	.box-group-fillter{
		@include clearfix;
		.item-fillter{
			@include grid_col(5,2%,0);
			@include mq(sp) {
				@include grid_col(2,2%,0);
				margin-bottom: 1em;
			}
		}
	}
	.col-xs-12.pull-right{
		@include mq(tab) {
			margin-top: 2em;
		}
		@include mq(sp) {
			margin-top: 2em;
			.form-control{
				width: 49%;
			}
			.col-xs-6.col-sm-6.col-md-6.col-lg-6{
				.form-control{
					width: 100%;
				}
			}
		}		
	}
}
/* -----------------------------------------------------------
	#box-project-favorite
----------------------------------------------------------- */
.box-project-favorite{
	@include clearfix;
	.list-project-favorite{
		@extend %cf;
		li{
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 10px;
			}
			.product-item{
				@include clearfix;
				@include mq(sp) {
					border:none;
					@include box-shadow(none);
				}
				.product-images{
					width: wCon(370);
					float: left;
					@include mq(sp) {
						width: 100%;
					}
				}
				.product-caption{
					@include cV(width,68%,68%,100%);
					float: right;
					@include cV(padding,30px 20px,30px 20px,15px 15px);
					h4{
						@include fsz(26);
						@include mq(sp) {
							@include fsz(20);
						}
					}
					.text-price{
						@include fsz(18);
						font-weight: 500;
						color: #1D2C4C;
						span{
							color: $text-primary;
						}
						@include mq(tab_sp) {
							text-align: left;
						}
					}
					.pr-add{
						color: #525975;
						@include mq(sp) {
							margin-bottom: 1em;
						}
						.fa{
							color: #DADADA;
							margin-right: 5px;
						}
					}
					.box-price {
						.text-right	{
							@include fsz(14);
							font-weight: 500;
							a{
								color: $navatop;
								text-decoration: underline !important;
							}
						}	
					}			
				}
			}
			.pd-desc{
				margin-top: 1em;
			}
			.list-utilities-list{
				@include clearfix;
				border:1px solid #E1E5EA;
				margin: 25px 0 50px;
				@include mq(sp) {
					border-bottom: none;
				}
				li{
					@include grid_col(4,0,0);
					border-right:1px solid  #E1E5EA;
					@include cV(padding,15px 0 15px 30px,15px 0 15px 30px,15px 10px 15px);
					margin-bottom: 0;
					&:last-child{
						border-right: none;
					}
					@include mq(sp) {
						@include grid_col(2,0,0);
						border-bottom:1px solid  #E1E5EA;
						&:nth-child(2n) {
							border-right: none;
						}
					}					
					.title{
						margin-bottom: 2px;
						font-weight: normal;
					}
					.text{
						font-weight: 500;
					}
				}
			}
		}
	}
	.btn-view-more{
		margin: 10px 0;
	}
}
.box-banner{
	margin-bottom: 40px;
}
.mb0{
	margin-bottom: 0;
}
.list-bds{
	@include clearfix;
	margin-bottom: 15px;
	.bds-item{
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		@include mq(tab) {
			.col-xs-12.col-sm-6.col-md-4.col-lg-4{
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}		
		@include mq(sp) {
			.col-xs-12.col-sm-6.col-md-4.col-lg-4{
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}
/* -----------------------------------------------------------
	#page du an chi tiet
----------------------------------------------------------- */
.page-detail{
	@include clearfix;
	// max-width: 1440px;
	margin: auto;
	.box-images-detail{
		width: 100%;
		@include clearfix;
		.list-images-detail{
			@include clearfix;
			li{
				width: wCon(370,1440);
				float: left;
				height: 50%;
				@include mq(sp) {
					width: 100%;
				}
				&.img-detail-lg{
					width: wCon(700,1440);
					height: 100%;
					@include mq(sp) {
						width: 100%;
					}					
				}
				img{
					width: 100%;
					border:1px solid $white;
				}
				.box-img-iner{
					position: relative;
					.box-icon{
						position: absolute;
						z-index: 1;
						top: 10px;
						right: 10px;
						span{
							background:rgba($navatop, .4);
							display: inline-block;
							@include border-radius(50%);
							width: 40px;
							height: 40px;
							position: relative;
							img{
								border:none;
								width: auto;
								position: absolute;
								left: 50%;
								top: 50%;
								@include transform(translate(-50%,-50%));
							}
						}
					}
					.box-img-more{
						position: absolute;
						width: 75px;
						height: 75px;
						border:1px solid $white;
						@include border-radius(50%);
						left: 50%;
						top: 50%;
						margin-left: -27.5px;
						margin-top: -27.5px;
						z-index: 9;
						@include mq(sp) {
							display: none;
						}
						a{
							display: block;
							position: relative;
							width: 75px;
							height: 75px;							
							span{
								position: absolute;
								left: 50%;
								top: 50%;
								@include transform(translate(-50%,-50%));
								color: $white;
								@include fsz(42);
								font-weight: normal;
							}

						}
					}

				}
			}
		}
		.list-images-detail-bds{
			@include clearfix;
			width: wCon(875,1440);
			float: left;
			@include mq(sp) {
				width: 100%;
			}
			li{
				width: wCon(368,875);
				float: left;
				height: 50%;
				@include mq(sp) {
					width: 100%;
				}
				&.img-detail-lg{
					width: wCon(505,875);
					height: 100%;
					@include mq(sp) {
						width: 100%;
					}					
				}
				img{
					width: 100%;
					border:1px solid $white;
				}
				.box-img-iner{
					position: relative;
					.box-icon{
						position: absolute;
						z-index: 1;
						top: 10px;
						right: 10px;
						span{
							background:rgba($navatop, .4);
							display: inline-block;
							@include border-radius(50%);
							width: 40px;
							height: 40px;
							position: relative;
							img{
								border:none;
								width: auto;
								position: absolute;
								left: 50%;
								top: 50%;
								@include transform(translate(-50%,-50%));
							}
						}
					}
					.box-img-more{
						position: absolute;
						width: 75px;
						height: 75px;
						border:1px solid $white;
						@include border-radius(50%);
						left: 50%;
						top: 50%;
						margin-left: -27.5px;
						margin-top: -27.5px;
						z-index: 9;
						@include mq(sp) {
							display: none;
						}
						a{
							display: block;
							position: relative;
							width: 75px;
							height: 75px;							
							span{
								position: absolute;
								left: 50%;
								top: 50%;
								@include transform(translate(-50%,-50%));
								color: $white;
								@include fsz(42);
								font-weight: normal;
							}

						}
					}

				}
			}
		}		
	}
}
.box-infomation{
	width: wCon(554,1440);
	float: right;
	border:1px solid #DAE1E7;
	padding: 20px;
	@include mq(sp) {
		width: 100%;
		padding: 0;
		border: none;
		margin-bottom: 2em;
	}
	.tbl-info{
		tr{
			td{
				padding: 30px 5px;
				&:nth-child(n),&:nth-child(3n) {
					width: 20%;
					@include mq(sp) {
						width: auto;
					}
				}
				@include mq(sp) {
					padding: 10px 5px;
					border:none;
				}
				img{
					vertical-align: baseline;
				}
			}
		}
	}
	.btn-group-info{
		text-align: center;
		margin-top: 2em;
		display: block;
		@include mq(sp) {
			border-top:1px solid #DAE1E7;
			margin-top: 1em;
			padding-top: 1em;
			text-align: left;
		}		
		button{
			@include cV(margin-right,1em,.2em,.1em);
			float: none;
			@include border-radius(4px);
		}
		.btn-info{
			background:$navatop;
			border-color: $navatop;
		}
		
	}

}
.tabs-repsonsive{
	@include clearfix;
	border-top: 1px solid #DAE1E7;
	border-bottom: 1px solid #DAE1E7;		
	@include mq(sp) {
		overflow-x: scroll;
	}
}	
.box-tabs-page-detail{
	@include clearfix;
	.list-tabs-page-detail{
		@include mq(sp) {
			min-width: 520px;
			@include clearfix;
		}
		li{
			@include grid_col(5,0,0);
			border-right: 1px solid #DAE1E7;
			&:last-child {
				border-right: none;
			}
			a{
				display: block;
				padding: 20px 0;
				text-align: center;
				@include fsz(18);
				line-height: 30px;
				font-weight: bold;
				color: $navatop;
				text-decoration: none;
				border-top: 2px solid transparent;
				@include mq(sp) {
					@include fsz(14);
					padding: 10px 0;
					span{
						display: block;
					}
				}
			}
			&.active{
				a{
					color: $text-primary;
					border-top: 2px solid $text-primary;
				}
			}
		}
	}
}
.box-detail-project{
	padding: 20px 0 30px;
	.box-img{
		@include cV(width,wCon(80,670),wCon(80,670),25%);
		float: left;
		min-width: 50px;
		vertical-align: middle;
	}
	.box-name-project{
		@include cV(width, wCon(580,670),wCon(580,670),73%);
		float: right;
		padding-top: 5px;
		font-weight: normal;
		.txt-address{
			color: #525975;
			line-height: 1.5;
		}
	}
	h2{
		@include fsz(36);
		line-height: 1.3;
		@include mq(tab) {
			@include fsz(24);
		}
		@include mq(sp) {
			@include fsz(20);
		}
	}
	.box-price-favorite{
		@include clearfix;
		@include mq(sp) {
			margin-top: 1em;
		}
		.box-price-project{
			width: 60%;
			float: left;
			@include mq(sp) {
				text-align: left;
			}
			p{
				margin-bottom: 10px;
			}
		}
		.box-favorite{
			width: 40%;
			float: left;
			text-align: center;
			border-left: 1px solid #D8D8D8;
			@include mq(sp) {
				text-align: right;
				border:none;
			}			
			.btn-default{
				padding-left: 30px;
				padding-right: 30px;
				margin-top: 10px;
				@include mq(sp) {
					padding-left: 15px;
					padding-right: 15px;
				}
				.fa{
					@include fsz(15);
					vertical-align: baseline;
					margin-right: 5px;
				}
				&.like{
					.fa-heart-o{
						color: #FF0000;
						&:before{
							content: "\f004";
						}
					}
				}
			}
		}
	}

}
.box-tab-inner-link-detail {
	background:#F9F9F9;
	border-top: 1px solid #D3D9E1;
	border-bottom: 1px solid #D3D9E1;
	margin-bottom: 19px;
	@extend %cf;
	li{
		float: left;
		a{
			display: block;
			padding: 15px 30px;
			text-align: center;
			@include fsz(14);
			font-weight: bold;
			color: $navatop;
			text-decoration: none;
			position: relative;
			&:before{
				content: "";
				width: 100%;
				bottom: -1px;
				z-index: 1;
				background:$text-primary;
				height: 1px;
				position: absolute;
				left: 0;
				@include transform(scale(0));
				@include transition(all .5s ease);
			}			
			@include mq(sp) {
				@include fsz(14);
				padding: 10px 0;
				span{
					display: block;
				}
			}

		}
		&.active,&:hover{
			a{
				color: $text-primary;
				&:before {
					@include transform(scale(1));
				}
			}
		}
	}	
}
.box-main-content-page-detail{
	@extend %cf;
	.box-content{
		width: wCon(758,1170);
		float: left;
		@include mq(sp) {
			width: 100%;
		}
	}
	.box-sidebar{
		width: wCon(370,1170);
		float: right;
		background:$white;
		border:1px solid #D7DCE3;
		padding: 0;
		h3{
			text-align: center;
			@include fsz(18);
			font-family: $muli;
			font-weight: normal;
			padding: 15px 0;
			background:$baseColor;
			color: $white;
		}
		.form-inner{
			padding: 30px;
			.form-group{
				label{
					font-weight: normal;
				}
				.form-control{
					border:none;
					@include box-shadow(none);
					border-bottom: 1px solid #D7DCE3;
					@include border-radius(0);
				}
				&.text-center{
					margin-top: 2em;
				}
			}	
			.hotline{
				text-align: center;
				border: 1px solid #1D2C4C;
				box-sizing: border-box;
				@include border-radius(3px);
				padding: 10px 0;	
				font-weight: bold;			
			}		
		}
	}
}

.box-collapse-warrper{
	@include clearfix;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #D3D9E1;
	.widget-title{
		@include fsz(20);
		font-weight: bold;
		font-family: $muli;
		text-transform: uppercase;
		margin-bottom: .7em;
		line-height: 1.8;
		position: relative;
		&:before{
			content: "\f107" !important;
			font-family: "FontAwesome";
			position: absolute;
			right: 0;
			top: 50%;
			@include transform(translate(0,-50%)); 
			width: auto;
			left: inherit;
		}
		&.active{
			&:before{
				content: "\f106" !important;
			}
		}			
	}
	.txt-overview{
		margin-bottom: 2em;
	}
	.box-highlights-info{
		margin-bottom: 20px;
		h4{
			@include fsz(18);
			font-weight: normal;
			margin-bottom: .5em;
		}
	}
	&.box-map{
		border-bottom: none;
	}
}
.box-link-tags{
	@include clearfix;
	padding: 10px 0;
	ul{
		@include clearfix;
		li{
			display: inline-block;
			margin-bottom: 5px;
			a{
				display: block;
				border:1px solid #0999D8;
				padding: 5px 10px;
				color: #0999D8;
				text-decoration: none;
				@include border-radius(3em);
			}
		}
	}
}
.border-inner{
	padding: 15px;
	border: 1px solid #D3D9E1;
}
.title-utilities{
	font-weight: bold;
	margin-bottom: 20px;
}
.list-utilities{
	@include clearfix;
	border-bottom: 1px solid #D3D9E1;
	margin-bottom: 20px;
	li{
		@include grid_col(4,0,0);
		text-align: center;
		margin-bottom: 20px;
		@include mq(sp) {
			@include grid_col(2,0,0);
		}
	}
}
.list-bds-beauty{
	@include clearfix;
	li{
		@include clearfix;
		@include border-radius(6px);
		background:$white; 
		border:1px solid #E1E5EA;
		@include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.051036));	
		margin-bottom: 20px;	
		.img{
			width: wCon(270,770);
			float: left;
			@include mq(sp) {
				width: 100%;
				img{
					width: 100%;
				}
			}
		}
		.box-content{
			width: wCon(480,770);
			float: right;
			padding: 30px 20px 20px 0;
			@include mq(sp) {
				width: 100%;
				padding: 20px;
			}
		}
		h4{
			@include fsz(18);
			font-family: $muli;
			font-weight: bold;
			a{
				color: $baseColor;
				margin-bottom: 8px;
				display: block;
			}
		}
		.id-bds{
			margin-bottom: 30px;
		}
		.tbl-info{
			width: 85%;
			@include mq(sp) {
				width: 100%;
			}
		}
	}	
}
.list-matbang{
	@include clearfix;
	li{
		@include grid_col(3,2%,0);
	}
	@include mq(sp) {
		min-width: 500px;
	}
}
.box-investor{
	@include clearfix;
	.box-img{
		width: 16%;
		float: left;
		text-align: center;
		@include mq(sp) {
			width: 20%;
			margin-right: 10px;
		}
	}
	.text-investor{
		width: 83%;
		float: right;
		@include mq(sp) {
			width: auto;
			float: none;
			h5{
				margin-bottom: 1em;
				margin-top: .5em;
			}
		}
	}
}
.list-partner{
	@include clearfix;
	li{
		@include grid_col(2,2%,0);
		@include clearfix;
		@include mq(sp) {
			width: 100%;
			margin-bottom: 1.4em;
		}
		.img{
			float: left;
			width: 28%;
		}
		.box-centent{
			width: 70%;
			float: right;
			h5{
				margin-bottom: 10px;
			}
		}
	}
}
.box-responsive{
	@include mq(sp) {
		overflow-x: scroll;
	}
}

#mainslider{
	position: relative;
	.slide{
		display: none;
		&:first-child{
			display: block;
		}		
		&.slick-active{
			@include opacity(1);
		}			
		@include mq(sp) {
			@include zoomImg(160%,center)
		}
	}	
	&.slick-initialized{
		.slide{
			display: block;
		}
	}	
	.slick-arrow{
		@include btn_slider(#FFF,#000,small); // or default mixin btn_slider()
	}
}
.box-project-near{
	.box-project-favorite{
		border-top: 1px solid #DAE1E7;
		padding-top: 3em;
	}
}

.widget-title-group{
	@include fsz(20);
	font-weight: bold;
	font-family: $muli;
	text-transform: uppercase;
	margin-bottom: .7em;
	line-height: 1.8;
	position: relative;
}

.box-dutoan-khoanvay{
	padding: 15px 0;
	border: 1px solid #D3D9E1;
	.form-inline{
		.form-control{
			max-width: 90px;
			margin-right: 5px;
			@include mq(sp) {
				margin-right: 0;
				max-width: 70px;
			}
		}
		@include mq(sp) {
			padding-left: 0;
			.form-group{
				display: inline-block;
			}
		}
	}
	.box-dutoan-inner{
		padding: 15px;		
		.row{
			margin-bottom: 15px;
		}
		.ui-widget.ui-widget-content{
			margin-top: 10px;
			background: #D3D9E1;
			@include border-radius(11px);
			border:none;
		}
		.ui-widget-header{
			background:#0999D8;
			@include border-radius(11px);
		}
		.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, .ui-button.ui-state-disabled:hover, .ui-button.ui-state-disabled:active{
			background:#0999D8;
			border:none;
			height: 1.6em;
			width: 10px;
			top: -.4em;
			@include border-radius(11px);
		}
	}
	.box-paymentform{
		padding: 15px;
		border-bottom: 1px solid #D3D9E1;
		border-top: 1px solid #D3D9E1;
		text-align: center;
		@include mq(sp) {
			text-align: left;
		}
		.radio{
			margin: 0 10px;
			input{
				margin-right: 5px;
			}
		}
	}
	.box-result{
		padding: 15px;
		.list-money-number{
			margin-bottom: 2em;
			@include clearfix;
			@include mq(sp) {
				padding-bottom: 3em;
			}
			li{
				@include grid_col(3,0,0);
				&:not(:last-child) {
					border-right: 1px solid #D3D9E1;
					@include mq(sp) {
						border:none;
					}
				}
				&:not(:first-child) {
					padding-left: 3%;
				}
				p{
					font-weight: 500;
					@include fsz(16);
					&.txt-number {
						@include fsz(18);
					}
					&.text-danger{
						color: #EE3817;
					}
				}
				@include mq(sp) {
					width: 100%;
					margin-bottom: 1em;
				}
			}
		}
		.title-mount{
			@include fsz(24);
			font-weight: 500;
			color: $baseColor;
			@include mq(sp) {
				position: absolute;
				bottom: 0;
				width: 180%;
			}
		}
		.mount-number{
			color: $text-primary;
			font-weight: normal;
			font-size: 28px;
			line-height: 33px;			
		}
		.view-result{
			border-left: 1px solid #D3D9E1;
			padding-left: 1em;
		}
		.box-result-number{
			background:transparent url('../images/bg_result.png') left top no-repeat;
			background-size: contain;
			width: 162px;
			height: 160px;
			margin: auto;
			position: relative;
			@include mq(sp) {
				width: 142px;
				height: 140px
			}
			span{
				position: absolute;
				left: 50%;
				top: 50%;
				@include transform(translate(-50%,-50%));
				@include fsz(28);
				color: $text-primary;
			}
		}
	}
}