@charset "utf-8";
/* ===================================================================
CSS information
 file name  : common.css
 author     : Le Duc Anh
 website : mauthietke.info
=================================================================== */
#header{
	@extend %cf;
	@include background(linear-gradient(180deg, #215787 0%, #5F8CB6 100%));
	padding-bottom: 80px;
	.navbar-toggle{
		color: $white;
		margin-top: 0;
		margin-right: 0;
		@include fsz(22);
		margin-bottom: 0;
		padding: 5px 10px;

	}
	#homepage &{
		background:transparent url('../images/img_hero.png') center top no-repeat;
		background-size: cover;
		padding-bottom: 30px;
		min-height: 800px;		
	}
	.navbar{
		background:$navatop;
		@include border-radius(0);
		border:none;
		@include mq(sp) {
			height: auto;
			min-height: 40px;
			.navbar-nav{
				width: calc(100% + 15px);
				margin: 7px -10px 7px 0;
				li{
					float: left;
				}
			}
		}
		.navbar-brand{
			font-size: 100%;
			color: $white;
			@include mq(sp) {
				padding: 15px 0;
				height: auto;
			}
		}
		.navbar-nav {
			li{
				a{
					color: $white;
				}
				&.lnk-register a{
					padding-right:7px;
				}
				&.lnk-login a{
					padding-left: 0px;
					&:before{
						content: "/";
						padding-right: 7px;
						@include mq(sp) {
							position: absolute;
							right: -7px;
						}
					}
				}
				&:first-child{
					.fa{
						@include fsz(17);
						margin-right: .3em;
						vertical-align: middle;
					}
				}
				&.lnk-information{
					position: relative;
					&:before {
						content: "";
						width: 1px;
						height: 50%;
						position: absolute;
						left: 0;
						top: 50%;
						@include transform(translate(0,-50%));
						background:rgba($white,.2);
					}
					a{
						padding: 10px 15px;
						span{
							width: 30px;
							height: 30px;
							@include border-radius(50%);
							display: inline-block;
							@include clearfix;
							vertical-align: middle;
							margin-right: 5px;
						}
					}
					.sub-menu-acc{
						position: absolute;
						top: 100%;
						z-index: 0;
						width: 200px;
						right: 0;
						z-index: 9;
						@include opacity(0);
						visibility: hidden;
						@include transition(all .4s ease);
						background:#FFF;
						li{
							border-bottom: 1px solid #DADADA;
							a{
								padding: 10px;
								font-weight: 500;
								display: block;
								color: $navatop;
							}
							&.logout{
								a{
									color: #FF0633;
								}
							}
						}
					}
					&:hover{
						.sub-menu-acc{
							@include opacity(1);
							visibility: visible;
						}
					}
				}
				@include mq(sp) {
					float: left;
					&.lnk-register,&.lnk-login{
						float: right;
					}
				}				
			}
		}
	}
	.container-fluid{
		@include mq(pc) {
			padding: 0 40px;
		}
	}
	.header-main{
		@extend %cf;
		.container{
			position: relative;
		}
		.logo{
			@include cV(width,10%,10%,25%);
			// position: absolute;
			// right: 100%;
			.logo-fixed{
				display: none;
			}
		}
		.main-menu{
			@extend %cf;
			@include cV(width,64%,85%,100%);
			ul{
				@extend %cf;
				clear: both;
				li{
					float: left;
					a{
						padding: 15px 30px;
						color: $white;
						@include fsz(16);
						font-weight: 500;
						display: block;
						@include mq(tab) {
							padding: 15px 20px;
						}
					}
				}
			}
		}
		.btn-link-vip{
			li{
				float: left;
				padding: 0 5px;
				a{
					padding: 10px 15px;
					@include fsz(16);
					font-weight: 500;
					&.btn-default{
						background: none;
						color: $white;
						border-color: $white;
					}
				}
				// &.btn-free{
				// 	position: absolute;
				// 	left: 100%;
				// }
			}
		}
	}
	.box-advance-search{
		@include cV(margin,120px auto 140px,100px auto,50px auto);
		h2{
			text-align: center;
			@include fsz(48);
			color: $white;
			margin: .1em 0 1em;
			font-weight: 300;
			@include mq(sp) {
				@include fsz(30);
			}
		}
	}
	.header-layout{
		.menuopen{
			position: relative;
			float: right;
			padding: 5px 10px;
			line-height: 1;
			background-color: transparent;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
			color: $white;
			@include fsz(22);
		}		
		&.fixed{
			position: fixed;
			width: 100%;
			top: 0;
			z-index: 99;
			.navbar{
				margin-bottom: 0;
			}
			.header-main{
				background:$white;
				padding: 10px 0;
				border-bottom: 1px solid #f8f8f8;
				.main-menu ul li a{
					color: $clr-text-menu;
				}
				.btn-link-vip li a.btn-default{
					border-color: $clr-text-menu;
					color: $clr-text-menu;
				}
				.logo{
					.logo-main{
						display: none;
					}
					.logo-fixed{
						display: block;
					}
				}
				.menuopen{
					color: $clr-text-menu;
				    margin-top: 0;
				    margin-right: 0;
				    font-size: 158%;
				    margin-bottom: 0;
				    padding: 5px 10px;
				}
			}

		}
	}
	.box-advance-search-page{
		@include cV(margin,60px auto 0,50px auto 0,40px auto 0);
	}
}
.box-count-down{
	ul{
		text-align: center;
		@include clearfix;
		li{
			display: inline-block;
			color: $white;
			@include cV(padding,0 40px,0 40px,0 20px);
			text-align: center;
			.count-number{
				@include fsz(42);
				font-weight: 300;
				@include mq(sp) {
					@include fsz(30);
				}
			}
			.count-lable{
				line-height: 1.5;
			}
			@include mq(sp) {
				width: 50%;
				float: left;
			}
		}
	}
}
.box-tab {
	.box-search{
		@include clearfix;
		@include mq(sp) {
			padding: 1em;
		}
		.input-group{
			width: 100%;
			@include clearfix;
			border:none;
			@include mq(sp) {
				display: block;
			}
		}
	}
	.box-province{
		@include cV(width,15%,15%,100%);
		border-right: 1px solid #D7DCE3;
		@include cV(display,table-cell,table-cell,block);
		vertical-align: top;
		@include cV(padding-right,.5em,.5em,0);
		@include mq(sp) {
			border:none;
			@include clearfix;
		}
		.form-control{
			@include mq(pc_tab) {
				border:none;
				@include box-shadow(none);
				padding: 25px 20px;
				line-height: 2;
				height: 70px;
				font-weight: bold;
			}
			@include mq(tab) {
				padding: 25px 10px;
			}
		}
	}
	.box-input-search{
		@include cV(width,60%,45%,100%);
		@include cV(display,table-cell,table-cell,block);
		vertical-align: top;
		@include mq(sp) {
			margin: .5em 0;
			@include clearfix;
		}
		.form-control{
			@include mq(pc_tab) {
				border:none;
				@include box-shadow(none);
				padding: 25px 20px;
				line-height: 2;
				height: 70px;
				font-weight: normal;
			}
		}
	}
	.box-advance-button{
		padding: 25px 20px;
		line-height: 2;
		font-weight: normal;	
		border-left: 1px solid #D7DCE3;	
		@include cV(display,table-cell,table-cell,block);
		vertical-align: top;
		@include mq(sp) {
			width: 100%;
			@include clearfix;
			display: none;
		}
	}
	.box-button-search{
		@include cV(display,table-cell,table-cell,block);
		vertical-align: top;
		@include cV(width,10%,10%,100%);
		background:#0999D8;
		.btn-primary{
			padding: 25px 50px;
			line-height: 2;
			height: 70px;
			font-weight: normal;	
			display: block;	
			background:#0999D8;	
			@include border-radius(0);
			text-transform: uppercase;
			border:none;
			@include mq(sp) {
				padding: 15px 20px;
				display: block;
				height: auto;
				width: 100%;
			}
		}
	}
}
.box-advance-inner{
	padding: 15px;
	background:$white;
	position: absolute;
	top: 105%;
	width: 100%;
	z-index: 999;
	display: none;
	@include mq(sp) {
		display: none;
	}
	.box-inner{
		@include clearfix;
		h4{
			margin-bottom: .5em;
		}
		.col-item{
			@include grid_col(5,2%,0);
			@include mq(sp) {
				width: 100%;
				margin-bottom: 1em;
			}
		}
	}
	.box-close{
		margin-top: 1em;
		text-align: right;
	}
}


/* -----------------------------------------------------------
	#tabs
----------------------------------------------------------- */
.box-tab {
    #tab {
    	@include clearfix;
        ul {
            li {
                cursor: pointer;
                @include box-sizing(border-box);
                float: left;
                padding: 1em 3em;
                text-align: center;
                color: #FFF;
                font-weight: 500;
                @include fsz(14);
                @include border-radius(5px 5px 0 0);
                background:#1D2C4C;
                margin-right: 5px;
                &.active { 
                	cursor: default; 
                	background:#0999D8;
                }
            }
        }
    }
    #panel {
    	position: relative;
        .panel_inner {
            display: none;
            background: #FFF;
            &:first-child { display: block; }
        }
    }
}
